<table align="center" width="100%" style="border:1px solid  #C0C0C0;">
  <tbody>
  <tr>
    <td style="color:#fff;text-align:center;font-size:13.4px;" width="100%">
    </td>
  </tr>
  <tr>
    <td width="100%" style="background-color:#ffff; height:40px;border-bottom:1px solid #CCC;">
      <img src="http://linkrica.com/templates/themes/assets/img/logo.png" border="0"/>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%">
        <tbody>
        <tr>
          <td style="font-size: 14px;">
          	<p>Hi <strong> {$name}</strong>,</p>
            <p>Your order has been paid successfully! We immediately work with your order.</p>
          </td>
        </tr>
        <tr>
         	<td>
         		Project Name: 
         	</td>
        </tr>
         <tr>
         	<td>
         		Project ID: 
         	</td>
        </tr>
         <tr>
         	<td>
         		Translate From:
         	</td>
        </tr>
         <tr>
         	<td>
         		Translate To:
         	</td>
        </tr>

         <tr>
         	<td>
         		Created Date:
         	</td>
        </tr>
          <tr>
         	<td>
         		Estimated Delivery:
         	</td>
        </tr>
          <tr>
         	<td>
         		Amount:
         	</td>
        </tr>
        <tr>
          <td style="border-top:1px solid #CCC; background-color:#fff; width:130px;height:60px; text-align:left;">
             <p>
             Thank you,<br/>
             The Linkrica Team
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  </tbody>
</table>





