<table align="center" width="100%" >
<tbody >
<tr >
<td width="100%" ><img src="{$smarty.const.URL_IMAGE_NEW}/logo.png" border="0"></td>
</tr>
<tr >
<td >
<table width="100%" >
<tbody >
<tr >
<td style="background-color:#ffffff;border:0px solid #efebec;" >
<h1 style="font-size:18px;color:#4c4848;font-weight:bold;" >Information Resume</h1>
<p style="font-size:13.4px;font-family:Arial, Helvetica, sans-serif;padding:0 0 20px 0;margin:0;line-height:18px;" >{$website} just received 1 resume from : <strong>{$name}</strong>.</p>

	<p>Detail information as below:</p>
	<p>
		Title   : <strong>{$title}</strong><br/>
		Name    : <strong>{$name}</strong><br/>
		email   : <strong>{$email}</strong><br/>
		Phone   : <strong>{$phone}</strong><br/>
		Address : <strong>{$location}</strong><br/>
		visa    : <strong>{$visa}</strong><br/>
		Phone   : <strong>{$mobile}</strong><br/>
		language: <strong>{$language}</strong><br/>
		...
	</p>
View Detail resume in System Admin<br>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="100%">
<table align="left" style="font-size:13.4px;font-family:Arial, Helvetica, sans-serif;padding:0 0 20px 0;margin:0;line-height:18px;">
<tbody>
<tr>
<td align="left">
© 2017 {$website}</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
