<table align="center" width="100%" style="border:1px solid  #C0C0C0;">
  <tbody>
  <tr>
    <td width="100%" style="background-color:#ffff; height:40px;border-bottom:1px solid #CCC;">
      <img src="http://linkrica.com/templates/themes/assets/img/logo.png" border="0"/>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%">
        <tbody>
        <tr>
          <td style="font-size: 14px;">
            <p>Hi <strong> {$name}</strong>,</p>
            <p>You can change your password here</p>
          </td>
        </tr>
        <tr>
          <td align="left" height="40">
           <a href="{$website}/change-password/{$email}/{$securityId}.html" style="color:#fff; margin-left:5px; margin-right:5px; border-radius: 10px;background: #6996db; padding: 10px;width: 120px;height: 30px;
text-decoration: none;">
                <strong>Reset password</strong>
              </a>
          </td>
        </tr>
        <tr>
          <td style="border-top:1px solid #CCC; background-color:#fff; width:130px;height:60px; text-align:left;">
             <p>
             Thank you,<br/>
             The Linkrica Team
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  </tbody>
</table>










