<div>
  <form role="form" class="confirm-form" name="confirm" method="post" enctype="multipart/form-data" action="{$smarty.const.URL_HOMEPAGE}confirm-cv.html"/>
  <h3 style="text-align:center;">{$smarty.const.lang_common_success}</h3>
  <p style="text-align: center; font-size: 16px;">
  	{$smarty.const.lang_common_success_1}
  </p>
  <p align="center">
  	 <a class="btn btn-upload log-btn" href="{$smarty.const.URL_HOMEPAGE}login-cv.html">{$smarty.const.lang_common_login}</a>
  </p>

  </form>
</div> 
