<ul class="list-content">
  <li>
    <label style="white-space: nowrap;"><input type="radio" value="COD" name="option_payment"> International Payment</label>
    <div class="boxContent">

      <ul class="cardList clearfix">
        <li class="bank-online-methods ">
          <label for="vcb_ck_on">

            <input type="radio" value="VISA"  name="bankcode" ><br/>
            Visa <br/><img width="50px" src="{$smarty.const.URL_WEB}{$themes}/assets/img/visa.png">
            
          </label></li>

          <li class="bank-online-methods ">
            <label for="vnbc_ck_on">
              <input type="radio" value="MASTER"  name="bankcode" ><br/>
              Master <img width="50px" src="{$smarty.const.URL_WEB}{$themes}/assets/img/mastercard.png">
            </label></li>
          </ul> 
        </div>
        
      </li>
    </ul>