{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu" style="background: #fff;">
            {include file="$themes/top.html"}
        </div>
    </section>
</div>

<section class="find-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb10 fw-fs-24 text-cl-index" align="center">
                AMV Blog
            </div>
            <div class="col-md-12 fw-border-content-bottom" style="margin: 5px; text-align: left">
                <h4 class="fw-fs-26 fw-mgt10 fw-mgb10">
                    {$blog_content[0].news_name}
                </h4>
            </div>

            <div class="col-md-12 fw-mgt10">
                <div class="col-md-9 no-padding">
                    <div class="col-md-12 fw-mgb10">
                        <p>
                            {$blog_content[0].description}
                        </p>
                    </div>

                </div>

                <div class="col-md-3">
                    {foreach from=$list_blog_right item="val" key="key" name="val"}
                    <div class="col-md-12 no-padding fw-mgt10 fw-mgb10">
                        <div class="team_title">
                            <a class="team_title"
                               href="{$smarty.const.URL_HOMEPAGE}blog-detail/{$val.news_id}/{$val.news_url}.html">
                                <strong>{$val.news_name_limit}</strong>
                            </a>
                        </div>
                        <div class="team_content fw-mgb10" style="height:auto; min-height: 80px;">
                            {$val.news_content_limit}
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="col-md-6 no-padding">
                                <span class="margin-right-md"><i class="fa fa-heart" aria-hidden="true"></i> 609</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> 120</span>
                            </div>
                            <div class="col-md-6 no-padding" align="right">
                                <span style="color:#9b9999"><strong>SHARE</strong></span>
                            </div>
                        </div>
                    </div>
                    {/foreach}
            </div>
        </div>
    </div>
</section>


<section class="featured-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding fw-mgt10">
                {foreach from=$list_blog_center item="val" key="key" name="val"}
                <div class="col-md-3 fw-mgb20">
                    <div class="col-md-12 fw-mgb10" align="center">
                        <a class="hover-effect" href="{$smarty.const.URL_HOMEPAGE}blog-detail/{$val.news_id}/{$val.news_url}.html">
                            {if $val.news_img}
                            <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_HOME}/upload/blogs/{$val.news_img}" />
                            {else}
                            <img width="100%" src="http://linkrica.com/duhoc/upload/categorys/0347-america-01.jpg" alt="">
                            {/if}
                        </a>
                    </div>

                    <div class="col-md-12">
                        <div class="team_title">
                            <a class="team_title" href="{$smarty.const.URL_HOMEPAGE}blog-detail/{$val.news_id}/{$val.news_url}.html">
                                <strong>{$val.news_name_limit}</strong>
                            </a>
                        </div>
                        <div class="team_content fw-mgb20" style="height:auto; min-height: 80px;">{$val.news_content_limit}</div>
                        <div class="col-md-12 no-padding">
                            <div class="col-md-6 no-padding">
                                <span class="margin-right-md"><i class="fa fa-heart" aria-hidden="true"></i> 609</span>

                                <span><i class="fa fa-eye" aria-hidden="true"></i> 120</span>
                            </div>
                            <div class="col-md-6 no-padding" align="center">
                                <span style="color:#9b9999"><strong>SHARE</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</section>

<!-- footer -->
{include file="$themes/footer.html"}
