{include file="$themes/header.html"}
<link rel="stylesheet" href="{$smarty.const.URL_WEB}{$themes}/assets/img_slider/css/lightslider.css"/>
{literal}
<style>
    ul {
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }

    .demo .item {
        margin-bottom: 10px;
    }

    .content-slider li {
        background-color: #ed3020;
        text-align: center;
        color: #FFF;
    }

    .content-slider h3 {
        margin: 0;
        padding: 70px 0;
    }

    .demo {
        width: 100%;
    }
</style>

<script>
    $(document).ready(function () {
        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 9,
            slideMargin: 0,
            speed: 500,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });
    });
</script>
{/literal}
<script src="{$smarty.const.URL_WEB}{$themes}/assets/img_slider/js/lightslider.js"></script>
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu">
            {if $isLogin}
            {include file="$themes/top-account.html"}
            {else}
            {include file="$themes/top.html"}
            {/if}
        </div>
    </section>
</div>

<section class="find-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt10 fw-mgb10">
                <div class="col-md-8 no-padding">
                    {if $program_content[0].news_img}
                        <div class="col-md-12 fw-mgb20">
                            <section class="home_background section" style="background: url({$smarty.const.URL_HOME}/upload/duhoc_program/{$program_content[0].news_img}) no-repeat center center;
                           -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; min-height: 200px;position: relative;">
                            </section>
                        </div>
                    {else}
                        <div class="col-md-12 fw-mgb20">
                            <section class="home_background section" style="background: url({$smarty.const.URL_WEB}{$themes}/assets/img/services/sub_service.png) no-repeat center center;
                               -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; min-height: 200px;position: relative;">
                            </section>
                        </div>
                    {/if}

                    <div class="col-md-12 fw-mgb20">
                        <div class="col-md-8 no-padding">
                            <span class="text-cl-index fw-fs-16">{$program_content[0].news_content}</span>
                        </div>

                        <div class="col-md-4 no-padding" align="right">
                            <a class="btn btn-learn-more fw-fs-14" href="{$smarty.const.URL_HOMEPAGE}">
                                Nộp hồ sơ
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12 fw-mgb20">
                        <div class="fw-mgb10">
                            <h3>
                                {$program_content[0].news_name}
                            </h3>
                        </div>
                        <div class="fw-mgb10">
                            <p>
                                {$program_content[0].description}

                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 fw-mgb20">
                        <div class="fw-mgb10"><h3>THƯ VIỆN HÌNH ẢNH</h3></div>
                        <div class="fw-mgb20">
                            <div class="demo">
                                <div class="item">
                                    <div class="clearfix" style="max-width:474px;">
                                        {if count($list_program_images) > 0}
                                        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                            {foreach from=$list_program_images item="val" key="key" name="val"}
                                                <li data-thumb="{$smarty.const.URL_HOME}/upload/duhoc_program_img/{$val.news_img}">
                                                <img src="{$smarty.const.URL_HOME}/upload/duhoc_program_img/{$val.news_img}" />
                                            </li>
                                            {/foreach}
                                        </ul>
                                        {else}
                                            <div align="left" class="fw-mgt20 fw-mgb20"><h3>Don't have data</h3></div>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    {if count($duhoc_program_data) >0}
                        {foreach from=$duhoc_program_data item="val" name="val"}
                            <div class="col-md-12 no-padding">
                                <div class="col-md-4 fw-mgb10">
                                    <a href="{$smarty.const.URL_HOMEPAGE}program-detail/{$val.news_id}/{$val.news_url}.html">
                                        {if $val.news_img}
                                        <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_HOME}/upload/duhoc_program/{$val.news_img}" alt="">
                                        {else}
                                        <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/no_img.png" alt="">
                                        {/if}
                                    </a>
                                </div>
                                <div class="col-md-8 fw-mgb10">
                                    <div class="fw-mgb10 text-cl-index"><a href="{$smarty.const.URL_HOMEPAGE}program-detail/{$val.news_id}/{$val.news_url}.html">
                                        <strong>{$val.news_name_limit}</strong></a></div>
                                    <div class="text-cl-duhoc">{$val.news_content_limit}</div>
                                </div>
                                <div class="col-md-12 fw-mgb10">
                                    <p>
                                        {$val.description_limit}
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <hr class="hr_border">
                                </div>
                            </div>
                        {/foreach}
                    {else}
                        <div align="center" class="col-md-12 fw-mgt30 fw-mgb30"><h3>Don't have data</h3></div>
                    {/if}


                    {if count($duhoc_program_data) >0}
                        <div class="col-md-12 fw-mgb10" align="left">
                            <a class="btn btn-learn-more" href="{$smarty.const.URL_HOMEPAGE}">
                                Xem thêm
                            </a>
                        </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
{include file="$themes/footer.html"}
