<div class="col-md-12 fw-mgt20">
    <div class="col-md-12 no-padding fw-mgt20">
        <div class="col-md-9 no-padding">
            <div style="float: left; margin-right:50px;">
                <a href="#" class="duhoc_active text-cl-index fw-fs-20">Tất cả</a>
            </div>
            <div  style="float: left; margin-right:50px;">
                <a href="#" class="fw-fs-20">THPT</a>
            </div>
            <div  style="float: left; margin-right:50px;">
                <a href="#" class="fw-fs-20">Cao đẳng - Đại học</a>
            </div>
            <div  style="float: left; margin-right:50px;">
                <a href="#" class="fw-fs-20">Thạc sỹ</a>
            </div>



        </div>
        <div class="col-md-3 no-padding"></div>
    </div>
    <div class="col-md-12 no-padding fw-mgt30">
        <div class="col-md-4 no-padding">
            <div class="col-md-4 fw-mgb10">
                <a href="{$smarty.const.URL_HOMEPAGE}dh-detail/{$val.category_id}/{$val.category_url}.html">
                    <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
                </a>
            </div>
            <div class="col-md-8 fw-mgb10">
                <div class="fw-mgb10 text-cl-index"><a href="{$smarty.const.URL_HOMEPAGE}dh-detail/{$val.category_id}/{$val.category_url}.html"><strong>Name of Student</strong></a></div>
                <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
            </div>
            <div class="col-md-12 fw-mgb10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                    et doloremagna.
                </p>
            </div>
            <div class="col-md-12 fw-mgb10">
                <hr class="hr_border">
            </div>
        </div>
        <div class="col-md-4 no-padding">
            <div class="col-md-4 fw-mgb10">
                <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
            </div>
            <div class="col-md-8 fw-mgb10">
                <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
            </div>
            <div class="col-md-12 fw-mgb10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                    et doloremagna.
                </p>
            </div>
            <div class="col-md-12 fw-mgb10">
                <hr class="hr_border">
            </div>
        </div>
        <div class="col-md-4 no-padding">
            <div class="col-md-4 fw-mgb10">
                <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
            </div>
            <div class="col-md-8 fw-mgb10">
                <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
            </div>
            <div class="col-md-12 fw-mgb10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                    et doloremagna.
                </p>
            </div>
            <div class="col-md-12 fw-mgb10">
                <hr class="hr_border">
            </div>
        </div>
        <div class="col-md-4 no-padding">
            <div class="col-md-4 fw-mgb10">
                <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
            </div>
            <div class="col-md-8 fw-mgb10">
                <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
            </div>
            <div class="col-md-12 fw-mgb10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                    et doloremagna.
                </p>
            </div>
            <div class="col-md-12 fw-mgb10">
                <hr class="hr_border">
            </div>
        </div>
        <div class="col-md-4 no-padding">
            <div class="col-md-4 fw-mgb10">
                <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
            </div>
            <div class="col-md-8 fw-mgb10">
                <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
            </div>
            <div class="col-md-12 fw-mgb10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                    et doloremagna.
                </p>
            </div>
            <div class="col-md-12 fw-mgb10">
                <hr class="hr_border">
            </div>
        </div>
        <div class="col-md-4 no-padding">
            <div class="col-md-4 fw-mgb10">
                <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
            </div>
            <div class="col-md-8 fw-mgb10">
                <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
            </div>
            <div class="col-md-12 fw-mgb10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                    et doloremagna.
                </p>
            </div>
            <div class="col-md-12 fw-mgb10">
                <hr class="hr_border">
            </div>
        </div>
        <div class="col-md-4 no-padding">
            <div class="col-md-4 fw-mgb10">
                <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
            </div>
            <div class="col-md-8 fw-mgb10">
                <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
            </div>
            <div class="col-md-12 fw-mgb10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                    et doloremagna.
                </p>
            </div>
            <div class="col-md-12 fw-mgb10">
                <hr class="hr_border">
            </div>
        </div>
        <div class="col-md-4 no-padding">
            <div class="col-md-4 fw-mgb10">
                <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
            </div>
            <div class="col-md-8 fw-mgb10">
                <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
            </div>
            <div class="col-md-12 fw-mgb10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                    et doloremagna.
                </p>
            </div>
            <div class="col-md-12 fw-mgb10">
                <hr class="hr_border">
            </div>
        </div>
    </div>
</div>