{include file="$themes/header.html"}
<script src="{$smarty.const.URL_WEB}{$themes}/assets/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{$smarty.const.URL_WEB}{$themes}/assets/js/slick/slick.css">
<link rel="stylesheet" type="text/css" href="{$smarty.const.URL_WEB}{$themes}/assets/js/slick/slick-theme.css">
{literal}
<style type="text/css">
    * {
        box-sizing: border-box;
    }
    .slider {
        width: 100%;
        margin: 10px auto;
    }
    .slider_menu {
        width: 60%;
        margin: 10px auto;
    }
    .slick-slide {
        margin: 0 10px;
    }
    .slick-slide img {
        width: 100%;
    }
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
    }
    .slick-active {
        opacity: 1;
    }
    .slick-current {
        opacity: 1;
    }
</style>
<script type="text/javascript">
    $(document).on('ready', function() {
        $('.chuong-trinh').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 2,
            adaptiveHeight: true,
            prevArrow: false,
            nextArrow: false,
            autoplay:true,
            autoplaySpeed:1500
        });
    });
</script>
{/literal}

<link rel="stylesheet" href="{$smarty.const.URL_WEB}{$themes}/assets/css/content.css">
<link rel="stylesheet" href="{$smarty.const.URL_WEB}{$themes}/assets/slider/flickity.css" media="screen">
<script src="{$smarty.const.URL_WEB}{$themes}/assets/slider/flickity.pkgd.js"></script>
<link rel="stylesheet" href="{$smarty.const.URL_WEB}{$themes}/assets/grid_gallary/css/grid-gallery.css">
{literal}
<style type="text/css">
    * {
        box-sizing: border-box;
    }

    .carousel-cell {
        {/literal}{if $isMobile}{literal}
        width: 100%;
        {/literal}{else}{literal}
        width: 20%;
        {/literal}{/if}{literal}
        height: auto;
        min-height: 370px;
        margin-right: 10px;
        background: #fff;
        border-radius: 5px;
        border: 3px solid #E39717;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .carousel-cell.is-selected {
        background: #fff;
    }

    .carousel-cell:hover {
        background: #E39717;
        color: #fff !important;
    }

    .carousel-cell:before {
        display: block;
        text-align: center;
        line-height: 370px;
        color: white;
    }
</style>
<script type="text/javascript">
    $(document).on('ready', function () {
        $('.main-carousel').flickity({
            cellAlign: 'left',
            contain: true,
            pageDots: false,
            autoPlay: 1500
        });
    });
</script>
{/literal}

<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu">
            {if $isLogin}
                {include file="$themes/top-account.html"}
            {else}
                {include file="$themes/top.html"}
            {/if}
        </div>
    </section>
    {foreach from=$list_banner_home item="val" name="val"}
    <section class="home_background section" style="background: url({$smarty.const.URL_HOMEPAGE}upload/translator_service/{$val.service_banner}) no-repeat center center;
-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; max-height: 300px;">
        {include file="$themes/banner_duhoc.html"}
    </section>
    {/foreach}
</div>


<section class="find-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt30">
                <h3 class="text-cl-index">{$duhoc_main_content[0].news_name_limit}</h3>
            </div>
            <div class="col-md-12 no-padding">
                {include file="$themes/web/duhoc_main.html"}
            </div>
        </div>
    </div>
</section>

<section class="duhoc-jobs section-about">
    <div class="container">
        <div class="row">
             <div class="col-md-12">
                <div class="col-md-12 no-padding fw-mgt30 fw-mgb20">
                    <h3 class="text-cl-index">{$duhoc_main_content[1].news_name_limit}</h3>
                </div>
                <div class="col-md-12 no-padding fw-mgb10">
                    {$duhoc_main_content[1].news_content_limit}
                </div>
            </div>

        </div>
    </div>
</section>


<section class="duhoc-jobs section-about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 no-padding fw-mgb20">
                {if count($list_duhoc_content) > 0}
                <div class="main-carousel">
                    {foreach from=$list_duhoc_content item="val" key="key" name="val"}
                    <div class="carousel-cell fw-mgb30 fw-mgt20">
                        <div class="fw-mgb10" style="padding: 10px;">
                            <a href="{$smarty.const.URL_HOMEPAGE}hb-detail/{$val.news_id}/{$val.news_url}.html">
                                <img style="width: 100%;" src="{$smarty.const.URL_HOME}/upload/scholarship/{$val.news_img}" alt="{$val.service_name_limit}">
                            </a>
                        </div>

                        <div class="col-md-12 fw-mgb20">
                            <span class="fw-fs-16 text-cl-index"><strong>{$val.news_name_limit}</strong></span>
                        </div>

                        <div class="col-md-12 fw-mgb10">
                            <span>{$val.news_content_limit}</span>
                        </div>
                    </div>
                    {/foreach}
                </div>
                {else}
                <div align="center" class="fw-mgt30 fw-mgb30"><h3>Don't have data</h3></div>
                {/if}
            </div>

            <div align="center" class="col-md-12 fw-mgb20">
                <a class="btn btn-learn-more" href="{$smarty.const.URL_HOMEPAGE}">
                    Xem thêm
                </a>
            </div>
        </div>
    </div>
</section>

<section class="find-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb20">
                <h3 class="text-cl-index">{$duhoc_main_content[2].news_name_limit}</h3>
            </div>
            <div class="col-md-12 fw-mgb10">
                {$duhoc_main_content[2].news_content_limit}
            </div>

            <div class="col-md-12">
                 {include file="$themes/web/duhoc_news.html"}
            </div>

            <div align="center" class="col-md-12 fw-mgb20">
                <a class="btn btn-learn-more" href="{$smarty.const.URL_HOMEPAGE}duhoc-news.html">
                    Xem thêm
                </a>
            </div>
        </div>
    </div>
</section>

<section class="duhoc-jobs section-about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 no-padding">
                    <div class="col-md-6 no-padding">
                        {if $duhoc_main_content[3].news_img}
                            <img src="{$smarty.const.URL_HOME}/upload/duhoc_data/{$duhoc_main_content[3].news_img}" alt="">
                        {else}
                            <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/bg/1.jpg" alt="">
                        {/if}
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12 fw-mgt20">
                            <h3 class="text-cl-index duhoc_hocvien"><strong>{$duhoc_main_content[3].news_name_limit}</strong></h3>
                        </div>
                        <div class="col-md-12 fw-mgb20">
                            {$duhoc_main_content[3].news_content_limit}
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <div class="col-md-12 no-padding chuong-trinh slider">
                                {if count($list_duhoc_sub_content) >0}
                                {foreach from=$list_duhoc_sub_content item="val" name="val"}
                                    {if $val.news_type_category == $duhoc_main_content[3].news_id}
                                            <div class="col-md-6" align="center">
                                        <div class="col-md-12 fw-mgb10">
                                            <img style="max-width: 140px;" class="img-circle" src="{$smarty.const.URL_HOME}/upload/duhoc_subcontent/{$val.news_img}" alt="">
                                        </div>

                                        <div class="col-md-12 fw-mgb10">
                                            <strong>{$val.news_name_limit}</strong>
                                        </div>

                                        <div class="col-md-12 fw-mgb10">
                                            <p>
                                                <i>{$val.news_content_limit}</i>
                                            </p>
                                        </div>

                                        <div class="col-md-12 fw-mgb10">
                                            <p>
                                                {$val.description_limit}
                                            </p>
                                        </div>
                                    </div>
                                    {/if}
                                {/foreach}
                                {else}
                                     <div align="center" class="col-md-12 fw-mgt30 fw-mgb30"><h3>Don't have data</h3></div>
                                {/if}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 no-padding">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12 fw-mgt20">
                            <h3 class="text-cl-index">{$duhoc_main_content[4].news_name_limit}</h3>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            {$duhoc_main_content[4].news_content_limit}
                        </div>

                        <div class="col-md-12 fw-mgb10 no-padding">
                            {if count($list_duhoc_sub_content) >0}
                             {foreach from=$list_duhoc_sub_content item="val" name="val"}
                                    {if $val.news_type_category == $duhoc_main_content[4].news_id}
                                        <div class="col-md-6" align="center">
                                            <div class="col-md-12 fw-mgb10">
                                                <img style="max-width: 100px;" class="img-circle" src="{$smarty.const.URL_HOME}/upload/duhoc_subcontent/{$val.news_img}" alt="">
                                            </div>

                                            <div class="col-md-12 fw-mgb10 fw-fs-16">
                                                <h3 class="duhoc_data">{$val.news_content_limit}</h3> 
                                            </div>
                                            <div class="fw-mgb20">{$val.description}</div>
                                        </div>
                                    {/if}
                                {/foreach}
                            {else}
                                 <div align="center" class="col-md-12 fw-mgt30 fw-mgb30"><h3>Don't have data</h3></div>
                            {/if}
                        </div>

                    </div>
                    <div class="col-md-6 no-padding">
                         {if $duhoc_main_content[4].news_img}
                            <img src="{$smarty.const.URL_HOME}/upload/duhoc_data/{$duhoc_main_content[4].news_img}" alt="">
                        {else}
                            <img src="http://localhost/duhoc_v2/upload/categorys/0908-img_2.jpg" alt="">
                        {/if}
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="find-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb20">
                <h3 class="text-cl-index">HÌNH ẢNH DU HỌC SINH</h3>
            </div>
            <div class="col-md-12 fw-mgb30">
                <div class="gg-box">
                    {if count($list_duhoc_images) > 0}
                        {foreach from=$list_duhoc_images item="val" key="key" name="val"}
                            <div class="gg-element">
                                <img src="{$smarty.const.URL_HOME}/upload/duhoc_img/{$val.news_img}" alt="{$val.news_name_limit}">
                            </div>
                        {/foreach}
                    {else}
                       <div align="center" class="col-md-12 fw-mgt30 fw-mgb30"><h3>Don't have images.</h3></div>
                    {/if}

                </div>

            </div>
        </div>
    </div>
</section>

<section class="duhoc-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb30">
                <div class="col-md-8 no-padding">

                    {if count($list_duhoc_news) > 0}
                        {foreach from=$list_duhoc_news item="val" key="key" name="val"}
                            <div class="col-md-12 no-padding fw-mgb10 {if !$smarty.foreach.val.first}fw-mgt10{/if}">
                                <a class="tintuc_title" href="{$smarty.const.URL_HOMEPAGE}dh-detail/{$val.news_id}/{$val.news_url}.html">
                                    <strong>{$val.news_name_limit}</strong>
                                </a>
                            </div>
                            <div class="col-md-12 no-padding fw-mgb20">
                                <div class="col-md-4 no-padding fw-mgb10" align="center">
                                    <a class="hover-effect" href="{$smarty.const.URL_HOMEPAGE}dh-detail/{$val.news_id}/{$val.news_url}.html">
                                        {if $val.news_img}
                                        <img class="img-thumbnail img-rounded" style="height: 140px !important;" src="{$smarty.const.URL_HOME}/upload/duhoc_news/{$val.news_img}" />
                                        {else}
                                        <img width="100%" src="http://linkrica.com/duhoc/upload/categorys/0347-america-01.jpg" alt="">
                                        {/if}
                                    </a>
                                </div>

                                <div class="col-md-8 no-padding">
                                    <div class="team_content fw-mgb20" style="height:auto; min-height: 80px;">
                                        {$val.news_content_limit}
                                    </div>
                                    <div class="col-md-12 no-padding fw-fs-12">
                                        <div class="col-md-6 no-padding">
                                            <span class="margin-right-md"><i class="fa fa-heart" aria-hidden="true"></i> 609</span>
                                            <span><i class="fa fa-eye" aria-hidden="true"></i> 120</span>
                                        </div>
                                        <div class="col-md-6 no-padding" align="right">
                                            <span style="color:#9b9999"><strong>SHARE</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {if !$smarty.foreach.val.last}
                                 <div class='col-md-12 dotted-spaced'></div>
                            {/if}
                        {/foreach}
                    {else}
                        <div align="center" class="col-md-12 fw-mgt30 fw-mgb30"><h3>Don't have data.</h3></div>
                    {/if}

                </div>
                <div class="col-md-4">
                    <div class="fw-mgb20">
                        <h3 class="text-cl-index">TẢI CẨM NANG DU HỌC MIỄN PHÍ</h3>
                    </div>

                    <div>
                        {include file="$themes/web/register_duhoc.html"}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/grid_gallary/js/grid-gallery.min.js"></script>
<!-- footer -->
{include file="$themes/footer.html"}
