{include file="$themes/header.html"}

<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu">
            {if $isLogin}
            {include file="$themes/top-account.html"}
            {else}
            {include file="$themes/top.html"}
            {/if}
        </div>
    </section>
</div>

<section class="find-jobs section-about fw-mgt20">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb20">
                <h2 class="text-cl-index">{$duhoc_news_content[0].news_name_limit}</h2>
            </div>
            <div class="col-md-12 fw-mgb10">
                {$duhoc_news_content[0].news_content_limit}
            </div>
            <div class="col-md-12 fw-mgt20">
                <div class="col-md-12 no-padding fw-mgt20">
                    <div class="col-md-9 no-padding">
                        <div style="float: left; margin-right:50px;">
                            <a href="#" class="duhoc_active text-cl-index fw-fs-20">Tất cả</a>
                        </div>
                        {foreach from=$duhoc_program_cate item="val" name="val"}
                            <div  style="float: left; margin-right:50px;">
                                <a href="#" class="fw-fs-20">{$val.news_name}</a>
                            </div>
                        {/foreach}
                    </div>
                    <div class="col-md-3 no-padding"></div>
                </div>
                <div class="col-md-12 no-padding fw-mgt30">
                    {if count($duhoc_program_data) >0}
                    {foreach from=$duhoc_program_data item="val" name="val"}
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 fw-mgb10">
                            <a href="{$smarty.const.URL_HOMEPAGE}program-detail/{$val.news_id}/{$val.news_url}.html">
                                {if $val.news_img}
                                <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_HOME}/upload/duhoc_program/{$val.news_img}" alt="">
                                {else}
                                <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/no_img.png" alt="">
                                {/if}
                            </a>
                        </div>
                        <div class="col-md-8 fw-mgb10">
                            <div class="fw-mgb10 text-cl-index">
                                <a href="{$smarty.const.URL_HOMEPAGE}program-detail/{$val.news_id}/{$val.news_url}.html">
                                    <strong>{$val.news_name_limit}</strong></a>
                            </div>
                            <div class="text-cl-duhoc">{$val.news_content_limit}</div>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <p>
                                {$val.description_limit}
                            </p>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <hr class="hr_border">
                        </div>
                    </div>
                    {/foreach}
                    {else}
                    <div align="center" class="col-md-12 fw-mgt30 fw-mgb30"><h3>Don't have data</h3></div>
                    {/if}
                </div>

                <div align="center" class="col-md-12 fw-mgb20">
                    <a class="btn btn-learn-more" href="{$smarty.const.URL_HOMEPAGE}">
                        Xem thêm
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- footer -->
{include file="$themes/footer.html"}
