{include file="$themes/header.html"}

<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu">
            {if $isLogin}
            {include file="$themes/top-account.html"}
            {else}
            {include file="$themes/top.html"}
            {/if}
        </div>
    </section>
</div>

<section class="find-jobs section-about fw-mgt20">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb20">
                <h2 class="text-cl-index">CHƯƠNG TRÌNH DU HỌC TẠI MỸ</h2>
            </div>
            <div class="col-md-12 fw-mgb10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                et doloremagna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in uienply voluptate velit esse cillum dolore eu
                fugiatnulla pariatur.
            </div>
            <div class="col-md-12 fw-mgt20">
                <div class="col-md-12 no-padding fw-mgt20">
                    <div class="col-md-9 no-padding">
                        <div class="col-md-3">
                            <a href="#" class="duhoc_active text-cl-index fw-fs-20">Tất cả</a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="fw-fs-20">THPT</a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="fw-fs-20">Cao đẳng - Đại học</a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="fw-fs-20">Thạc sỹ</a>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding"></div>
                </div>
                <div class="col-md-12 no-padding fw-mgt30">
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 fw-mgb10">
                            <a href="#">

                            </a>
                            <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
                        </div>
                        <div class="col-md-8 fw-mgb10">
                            <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                            <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                                et doloremagna.
                            </p>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <hr class="hr_border">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 fw-mgb10">
                            <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
                        </div>
                        <div class="col-md-8 fw-mgb10">
                            <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                            <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                                et doloremagna.
                            </p>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <hr class="hr_border">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 fw-mgb10">
                            <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
                        </div>
                        <div class="col-md-8 fw-mgb10">
                            <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                            <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                                et doloremagna.
                            </p>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <hr class="hr_border">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 fw-mgb10">
                            <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
                        </div>
                        <div class="col-md-8 fw-mgb10">
                            <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                            <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                                et doloremagna.
                            </p>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <hr class="hr_border">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 fw-mgb10">
                            <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
                        </div>
                        <div class="col-md-8 fw-mgb10">
                            <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                            <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                                et doloremagna.
                            </p>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <hr class="hr_border">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 fw-mgb10">
                            <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
                        </div>
                        <div class="col-md-8 fw-mgb10">
                            <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                            <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                                et doloremagna.
                            </p>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <hr class="hr_border">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 fw-mgb10">
                            <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
                        </div>
                        <div class="col-md-8 fw-mgb10">
                            <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                            <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                                et doloremagna.
                            </p>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <hr class="hr_border">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 fw-mgb10">
                            <img class="img-thumbnail img-rounded" src="{$smarty.const.URL_WEB}{$themes}/assets/img/facebook_logo.png" alt="">
                        </div>
                        <div class="col-md-8 fw-mgb10">
                            <div class="fw-mgb10 text-cl-index"><strong>Name of Student</strong></div>
                            <div class="text-cl-duhoc">Học phí: $ 30.000/ năm</div>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore
                                et doloremagna.
                            </p>
                        </div>
                        <div class="col-md-12 fw-mgb10">
                            <hr class="hr_border">
                        </div>
                    </div>
                </div>

                <div align="center" class="col-md-12 fw-mgb20">
                    <a class="btn btn-learn-more" href="{$smarty.const.URL_HOMEPAGE}">
                        Xem thêm
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- footer -->
{include file="$themes/footer.html"}
