{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
	<!-- Start intro section -->
	<section id="intro" class="section-intro">
		<div class="logo-menu">
			{include file="$themes/top-support.html"}
		</div>
	</section>
	<section id="slider">
		<div class="tp-banner-container">
			<div class="tp-banner-help">
				<ul>
					<li>
						<img src="{$smarty.const.URL_WEB}{$themes}/assets/img/support/main_banner.png" alt="laptopmockup_sliderdy">
						<div class="caption title sfb tp-caption start" data-x="center" data-y="center">
							<h3 style="min-height: 0px; min-width: 0px; line-height: 40px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 1px; font-size: 42px;color: #fff;">Hi, How can we help?
							</h3>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

</div>

<section class="find-jobs section">
	<div class="container">
		<div class="row">
			<div class="fw-fs-32 fw-mgb30 fw-mgt20"><strong>Help Center</strong></div>

			<div class="col-md-12">
				<div class="col-md-4 fw-mgb10">
					<div class="box">
						<div class="fw-mgb10" align="center">
							<a href="{$smarty.const.URL_HOMEPAGE}for-customer.html">
							<img width="70%" src="{$smarty.const.URL_WEB}{$themes}/assets/img/support/customer.png"/></a>
						</div>

						<div align="center" class="fw-fs-24 fw-mgb10"><a href="{$smarty.const.URL_HOMEPAGE}for-customer.html">For Customer</a></div>

					</div>
				</div>

				<div class="col-md-4 fw-mgb10">
					<div class="box">
						<div class="fw-mgb10" align="center">
							<a href="{$smarty.const.URL_HOMEPAGE}for-translator.html">
							<img width="70%" src="{$smarty.const.URL_WEB}{$themes}/assets/img/support/translator.png"/></a>
						</div>

						<div align="center" class="fw-fs-24 fw-mgb10"><a href="{$smarty.const.URL_HOMEPAGE}for-translator.html">For Translators</a></div>

					</div>
				</div>

				<div class="col-md-4 fw-mgb10">
					<div class="box">
						<div class="fw-mgb10" align="center"><img width="70%" src="{$smarty.const.URL_WEB}{$themes}/assets/img/support/contact.png"/></div>

						<div align="center" class="fw-fs-24 fw-mgb10">Contact</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- footer -->
{include file="$themes/footer.html"}
