<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="{$smarty.const.URL_WEB}{$themes}/assets/js/moment.js"></script>
<script src="{$smarty.const.URL_WEB}{$themes}/assets/js/combodate/combodate.js"></script>
{literal}
<script type="text/javascript">
    $(function () {
        $("form[name='registration']").validate({
            // Specify validation rules
            rules: {
                full_name: "required",
                email: {
                    required: true, email: true
                },
                country: {
                    required: true
                },
                address: {
                    required: true
                },
                mobile: {
                    required: true, number: true
                },
            }, // Specify validation error messages
            messages: {
                full_name: "{/literal}{$smarty.const.lang_err_first_name}{literal}",
                country: "{/literal}{$smarty.const.lang_err_country}{literal}",
                address: "Please input your address",
                email: "{/literal}{$smarty.const.lang_err_email}{literal}",
                mobile: {
                    required: "{/literal}{$smarty.const.lang_err_mobile}{literal}",
                    number: "{/literal}{$smarty.const.lang_err_mobile_1}{literal}"
                },
            }, submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
<script>
    $(function(){
        $('#birthday').combodate({
            value: new Date(),
            minYear: 1945,
            maxYear: moment().format('YYYY'),
            customClass: 'form-control'
        });
    });
</script>
{/literal}
    <section id="intro" class="section-intro">
        <div id="content" class="register-account">
            <div class="container">
                <div class="row">

                    {if $warningMessage}
                    <div class="col-md-6 col-md-offset-3 fw-mgb10" align="center">
                        <span class="error-msg">{$warningMessage}</span>
                    </div>
                    {/if}

                    <div class="col-md-4 col-sm-5 no-padding cd-user-modal">
                        <div class="my-account-form">

                            <div id="cd-signup" class="is-selected">
                                <div class="fw-bglogin box-login" style="padding: 15px;">
                                    <form role="form" class="form-ad" name="registration" method="post" enctype="multipart/form-data"
                                          action="{$smarty.const.URL_HOMEPAGE}register.html"/>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Họ & tên(*)"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-12 fw-mgb10"><strong>Ngày sinh</strong></div>

                                            <div class="col-md-12 form-inline">
                                                <div class="input-icon">
                                                    <input type="text" id="birthday" name="birthday" data-format="DD-MM-YYYY" data-template="D MMM YYYY" value="09-01-2013" />
                                                </div>
                                            </div>

                                            {* date/month/year *}
                                            {*<div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-icon">
                                                        <select name="day_birthday" id="day_birthday" class="form-control">
                                                            <option value="">{$smarty.const.lang_common_mobile_code}</option>
                                                            {foreach from=$rs_mobile_code item="val" name="val"}
                                                                <option value="{$val.code}">{$val.name} (+{$val.code})</option>
                                                            {/foreach}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-icon">
                                                        <select name="month_birthday" id="month_birthday" class="form-control">
                                                            <option value="">{$smarty.const.lang_common_mobile_code}</option>
                                                            {foreach from=$rs_mobile_code item="val" name="val"}
                                                                <option value="{$val.code}">{$val.name} (+{$val.code})</option>
                                                            {/foreach}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-icon">
                                                        <select name="year_birthday" id="year_birthday" class="form-control">
                                                            <option value="">{$smarty.const.lang_common_mobile_code}</option>
                                                            {foreach from=$rs_mobile_code item="val" name="val"}
                                                                <option value="{$val.code}">{$val.name} (+{$val.code})</option>
                                                            {/foreach}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>*}

                                        </div>
                                    </div>

                                    <div class="col-md-12 no-padding fw-mgb10"><strong>Thông tin liên hệ</strong></div>

                                    <div class="form-group">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" name="email" id="email"
                                                   placeholder="Email(*)"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" name="mobile" id="mobile"
                                                   placeholder="Điện thoại(*)"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" name="address" id="address"
                                                   placeholder="Địa chỉ(*)"/>
                                        </div>
                                    </div>

                                    <div class="col-md-12 no-padding fw-mgb10"><strong>Bạn muốn du học quốc gia nào?</strong></div>

                                    <div class="col-md-12 no-padding">
                                        <div class="form-group">
                                            <div class="input-icon">
                                                <select name="country" id="country" class="form-control">
                                                    <option value="">{$smarty.const.lang_user_address_3}</option>
                                                    {foreach from=$rs_list_country name=val item=val}
                                                    <option value="{$val.id}">{$val.name}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <center>
                                        <button class="btn btn-submit log-btn" type="submit">
                                            Gửi đi
                                        </button>
                                    </center>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
