{include file="$themes/header.html"}
<div id="wrapper">
 {include file="$themes/top.html"}  

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="ten columns">
			<span><a href="#">{$new_detail.category_name}</a></span>
			<h2>{$new_detail.news_name} <span class="part-time">{if $new_detail.news_deadline}Deadline:{/if} {$new_detail.news_deadline}</span></h2>
		</div>

	</div>
</div>
<!-- Content
================================================== -->
<div class="container">

	</div>
	<!-- Widgets / End -->


</div>
{include file="$themes/footer.html"}