<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Control Panel System</title>
    <link href="{$smarty.const.URL_ADMIN_THEM}css/index_admin.css" rel="stylesheet">
        
    <link href="{$smarty.const.URL_ADMIN_THEM}css/bootstrap.min.css" rel="stylesheet">
    <link href="{$smarty.const.URL_ADMIN_THEM}css/metisMenu.min.css" rel="stylesheet">
    <link href="{$smarty.const.URL_ADMIN_THEM}css/sb-admin-2.css" rel="stylesheet">
    <link href="{$smarty.const.URL_ADMIN_THEM}icon/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <script src="{$smarty.const.URL_ADMIN_THEM}js/jquery.min.js"></script>
    <script src="{$smarty.const.URL_ADMIN_THEM}js/bootstrap.min.js"></script>
    <script src="{$smarty.const.URL_ADMIN_THEM}js/metisMenu.min.js"></script>
    <script src="{$smarty.const.URL_ADMIN_THEM}js/sb-admin-2.js"></script>

</head>
<body>
<div id="wrapper">