@media (max-width: 1080px) 
{
	#bttop{position:fixed;bottom:10px;right:10px;cursor:pointer;display:none;}
	#bttop p{padding: 5px; border-radius: 3px;  font-size:100%; background:#05b3d2; color:#FFF; text-align:center; margin:5px 5px; float:left}
	#bttop p:hover{background:#ff6734;}
}
@media (min-width: 1081px) 
{
	#bttop{position:fixed;bottom:100px;right:20px;cursor:pointer;display:none;}
	#bttop p{padding: 10px; border-radius: 3px;  font-size:120%; background:#05b3d2; color:#FFF; text-align:center; margin:5px 0px}
	#bttop p:hover{background:#ff6734;}
}