<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!--/.carousel-inner -->
    <div class="carousel-inner" role="listbox">
        <!-- .item -->
            <div class="item {if $smarty.foreach.val.first}active{/if}">
                <div class="single-slide-item slide{$val}">
                    <div class="container">
                        <div class="welcome-hero-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="single-welcome-hero">
                                        <div class="welcome-hero-txt">
                                            <h2>{$val.service_name}</h2>
                                            <h4>{$val.service_content}</h4>
                                        </div>
                                        <!--/.welcome-hero-txt-->
                                    </div><!--/.single-welcome-hero-->
                                </div><!--/.col-->
                                <div class="col-sm-4">
                                </div><!--/.col-->
                            </div><!--/.row-->
                        </div><!--/.welcome-hero-content-->
                    </div><!-- /.container-->
                </div><!-- /.single-slide-item-->

            </div><!-- /.item .active-->

    </div><!-- /.carousel-inner-->
</div><!--/#header-carousel-->
