{literal}
    <style>
        input{
            font-size: 12px !important;
        }
    </style>
{/literal}
<!-- Footer Section Start -->
<footer>
    <!-- Footer Area Start -->
    <section class="footer-Content-index">
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-sm-6 col-xs-12 fw-mgt10 fw-mgb10">
                    <div class="fw-mgb10">
                        <img width="120" src="{$smarty.const.URL_WEB}{$themes}/assets/img/logo_footer.png" alt="">
                    </div>
                    <div class="fw-fs-11">
                        @ AMV Copyright 2019
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 fw-mgt10 fw-mgb10 no-padding">
                    <div class="col-md-10 no-padding fw-mgb10">
                        <div class="col-md-4">
                            <a class="footer_menu" href="{$smarty.const.URL_HOMEPAGE}about-us.html">Giới thiệu</a>
                        </div>

                        <div class="col-md-4">
                            <a class="footer_menu" href="{$smarty.const.URL_HOMEPAGE}contact.html">Liên hệ</a>
                        </div>

                        <div class="col-md-4">
                            <a class="footer_menu" href="{$smarty.const.URL_HOMEPAGE}contact.html">Hỗ trợ</a>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="fw-fs-11">{$smarty.const.lang_dia_chi}</div>
                        <div class="fw-fs-11">{$smarty.const.lang_phone}</div>
                        <div class="fw-fs-11">{$smarty.const.lang_email}</div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 fw-mgt10 fw-mgb10">
                    <div class="col-md-3 no-padding fw-mgb10">
                        <img style="width: 40px; background-color: #0F5DC4;" class="img-circle" src="{$smarty.const.URL_WEB}{$themes}/assets/img/face.png">
                    </div>
                    <div class="col-md-3 no-padding fw-mgb10">
                        <img style="width: 40px; background-color: #0F5DC4;" class="img-circle" src="{$smarty.const.URL_WEB}{$themes}/assets/img/twitter.png">
                    </div>
                    <div class="col-md-3 no-padding fw-mgb10">
                        <img style="width: 40px; background-color: #0F5DC4;" class="img-circle" src="{$smarty.const.URL_WEB}{$themes}/assets/img/youtube.png">
                    </div>
                    <div class="col-md-3 no-padding">
                        <img style="width: 40px; background-color: #0F5DC4;" class="img-circle" src="{$smarty.const.URL_WEB}{$themes}/assets/img/linkein.png">
                    </div>
                </div>

                <div align="center" class="col-md-1 col-sm-6 col-xs-12 no-padding fw-mgt10 fw-mgb10">

                </div>
            </div>
        </div>
    </section>
    <!-- Footer area End -->
</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
</a>
<!-- Main JS  -->
<script type="text/javascript"
        src="{$smarty.const.URL_WEB}{$themes}/assets/direction/scripts/bundle.js"></script>
<!-- Main JS  -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.parallax.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/owl.carousel_new.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.slicknav.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/main.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/form-validator.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/contact-form-script.js"></script>
<script type="text/javascript"
        src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.tools.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=lodenvutru"></script>
</body>
</html>
