{literal}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '553991211603806',
      xfbml      : true,
      version    : 'v2.11'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "https://connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>
{/literal}


<!-- Main JS  -->  
{if $isLogin}
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/profile.js"></script>
{elseif $isLogin_cv}
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/profile_cv.js"></script>
{/if}
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.parallax.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.slicknav.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/main.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/form-validator.min.js"></script>

<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/contact-form-script.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.tools.min.js"></script>
</body>
</html>