{literal}
<style>
    footer .footer-Content {
        background-color: #1153aa;
        padding: 20px 0;
        color: #fff;
    }

</style>
{/literal}
<!-- Footer Section Start -->
<footer>
    <!-- Footer Area Start -->
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">Về AMV</h4>
                        <ul class="menu">
                            <li>
                                <a href="{$smarty.const.URL_HOMEPAGE}about-us.html">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="{$smarty.const.URL_HOMEPAGE}">Phương thức hoạt động</a>
                            </li>
                            <li><a href="#">Danh sách các trường</a></li>
                            <li><a href="#">Tin tức du học</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}blog.html">Blog</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}contact.html">Liên hệ</a></li>
                            <li><a href="#">Đăng ký tư vấn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">CHƯƠNG TRÌNH</h4>
                        <ul class="menu">
                            {foreach from=$list_chuong_trinh item="val" name="val"}
                            <li>
                                <a href="{$smarty.const.URL_HOMEPAGE}pg-detail/{$val.category_id}/{$val.category_url}.html">
                                    {$val.category_name}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">DU HỌC DÀI HẠN</h4>
                        <ul class="menu">
                            {foreach from=$list_service_menu item="val" name="val"}
                            <li>
                                <a href="{$smarty.const.URL_HOMEPAGE}duhoc/{$val.id}/{$val.service_url}.html">
                                    {$val.service_name}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">HỌC BỔNG</h4>
                        <ul class="menu">
                            {foreach from=$list_hoc_bong item="val" name="val"}
                            <li>
                                <a href="{$smarty.const.URL_HOMEPAGE}">
                                    {$val.category_name}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Footer area End -->

    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info text-left">
                        <div class="bottom-social-icons social-icon">
                            <a class="facebook" href="https://web.facebook.com/GrayGrids">Facebook</a>
                            <a class="twitter" href="https://twitter.com/GrayGrids">Twitter</a>
                            <a class="youtube" href="https://youtube.com">YouTube</a>
                            <a class="dribble" href="https://dribbble.com/GrayGrids">Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
</a>


<!-- Main JS  -->
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/material.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/material-kit.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.parallax.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.slicknav.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/main.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/form-validator.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/contact-form-script.js"></script>
<script type="text/javascript"
        src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.tools.min.js"></script>
</body>
</html>
