<nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="{$smarty.const.URL_HOMEPAGE}index.html"><img src="{$smarty.const.URL_WEB}{$themes}/assets/img/logo.png" alt=""></a>
    </div>

    <div class="collapse navbar-collapse navbar-right float-right" id="navbar">              

      <ul id="menuheader" class="nav navbar-nav navbar-right float-right">
        <li class="left"><a {if $url_views == 'for-customer'}class="active"{else}class="btn btn-common-link"{/if} href="{$smarty.const.URL_HOMEPAGE}for-customer.html">CUSTOMERS</a></li>

        <li class="right"><a {if $url_views == 'for-translator'}class="active"{else}class="btn btn-common-link"{/if} href="{$smarty.const.URL_HOMEPAGE}for-translator.html">TRANSLATORS</a></li>

        <li class="right"><a href="{$smarty.const.URL_HOMEPAGE}">CONTACT</a></li>
      </ul>
    </div>                           
  </div>
  <!-- Mobile Menu Start -->
            <ul class="wpb-mobile-menu">
               <li>
                 <a href="{$smarty.const.URL_HOMEPAGE}translate.html" {if $url_views == 'translate'} class="active"{/if}>
                    <strong>{$smarty.const.lang_common_translate_now}</strong>
                    </a>
              </li>
              <li>
                <a class="active" href="{$smarty.const.URL_HOMEPAGE}index.html"><strong>Home</strong></a>
              </li>
              <li>
                <a href="{$smarty.const.URL_HOMEPAGE}how-it-works.html" {if $url_views == 'how-it-works'}class="active"{/if}>
                    <strong>How it works</strong>
                    </a>
              </li>
              <li>
                  <a href="{$smarty.const.URL_HOMEPAGE}about-us.html" {if $url_views == 'about-us'}class="active"{/if}>
                    <strong>{$smarty.const.lang_common_about}</strong>
                    </a>
              </li>
             
              <li>
                 <a href="{$smarty.const.URL_HOMEPAGE}service.html" {if $url_views == 'service'}class="active"{/if}>
                    <strong>{$smarty.const.lang_common_service}</strong>
                    </a>
              </li>  
              <li class="btn-m">
                <a {if $active}class="active"{/if} href="{$smarty.const.URL_HOMEPAGE}register.html"><i class="ti-pencil-alt"></i> 
                  <strong>{$smarty.const.lang_common_register}</strong>
                </a>
              </li>
              <li class="btn-m"><a {if $url_views == 'login'}class="active"{/if} href="{$smarty.const.URL_HOMEPAGE}login.html">
                <i class="ti-lock"></i> 
                 <strong>{$smarty.const.lang_common_login}</strong>
              </a></li>   
               <li class="btn-m"><a href="{$smarty.const.URL_HOMEPAGE}help-center.html" {if $url_views == 'help-center'}class="active"{/if}>
               <strong>{$smarty.const.lang_common_support}</strong>
             </a></li>          
            </ul>
  <!-- Mobile Menu End --> 
</nav>