{include file="$themes/header-account.html"}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.popupoverlay.js"></script>
{literal}
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
{/literal}
<!-- Header Section Start -->
<div class="header">
  <!-- Start intro section -->
  <section id="intro" class="section-intro">
    <div class="logo-menu">
      {include file="$themes/top-cv-account.html"}
    </div>
  </section>
  <!-- end intro section -->
</div>

<!-- Header Section End -->
<section class="job-detail section-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-lg-2 border-right">
        <nav class="navbar navbar-default navbar-fixed-side">
          <!-- normal collapsible navbar markup -->
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse">
             {include file="$themes/user/left_cv_menu.html"}
           </div>
         </div>
       </nav>
     </div>

     <div class="col-sm-9 col-lg-10 fw-bg-white">
      <!-- your page content -->
      <div class="fw-main-content">
       <div class="fw-mg20">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h4 class="alerts-title"><strong>Accept Active Orders</strong></h4></li>
        </ul>
        <div id="wrapper" class="fw-mgb10">
          <section id="core">
            <div class="profileinfo">
              <div>
                <table>
                  <tr>
                    <th style="white-space: nowrap;">Project Name</th>
                    <th style="white-space: nowrap;">Project ID</th>
                    <th style="white-space: nowrap;">Translate From</th>
                    <th style="white-space: nowrap;">Translate To</th>
                    <th style="white-space: nowrap;">Creation Date</th>
                    <th style="white-space: nowrap;">Estimated Delivery</th>
                    <th>Words</th>
                    <th>Amount</th>
                    <th style="white-space: nowrap;">Payment<br/> (55%)</th>
                    <th></th>
                  </tr>
                  {foreach from=$rs_news item="val" name="val" key="key"}
                  <tr style="font-size: 13px;">
                    <td>
                      <a href="{$smarty.const.URL_HOMEPAGE}accept-detail/{$val.coupon_code}/{$val.translater_id}.html" class="fw-fgpass">{$val.file_translate|substr:0:50}</a>
                      <br/>
                       {if $val.translater_id > 0 && $val.order_status == 1}
                      <a class="accept_active" href="#">
                        Active
                      </a>
                      {else}
                      <a class="accept_final" href="#">
                        Finalized
                      </a>
                      {/if}
                    </td>
                    <td>{$val.coupon_code}</td>
                    <td>
                     {foreach from=$fromTolanguage name=val_order item=val_order}
                       {foreach from=$val_order name=val1 item=val1}
                         {if $val1.translate_id == $val.translate_id}
                          <span style="margin:5px;">{$val1.from_language_name}</span><br/>
                        {/if}
                      {/foreach}
                    {/foreach}

                  </td>
                  <td>
                   {foreach from=$fromTolanguage name=val_order item=val_order}
                     {foreach from=$val_order name=val1 item=val1}
                       {if $val1.translate_id == $val.translate_id}
                      <span style="margin:2px;">{$val1.to_language_name}</span><br/>
                      {/if}
                    {/foreach}
                  {/foreach}

                </td>
                <td>{$val.ngay_order}</td>
                <td>{$val.estimate} (hours)</td>
                <td>{$val.count_text}</td>
                <td>$ {$val.price}</td>
                <td>$ {$val.percentPrice}</td>
                <td align="center" width="50">
                  <center>
                    <a href="{$smarty.const.URL_HOMEPAGE}accept-detail/{$val.coupon_code}/{$val.translater_id}.html" class="savebutton">
                     Go
                    </a>
                  </center>
                </td>
              </tr>
              {/foreach}
            </table>
            
</div>

<div class="fw-mgt10">
  <center>
    <ul class="pager">
     <li><a href = "#">Previous</a></li>
     <li><a href = "#">Next</a></li>
   </ul>
 </center>
</div>

</div>
</section>
</div>

<div id="loadingInfo" class="loading-img">
  <p style="position: absolute; top: 35%; left: 50%;">
   <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/loading.gif" class="fw-img-p50" />
 </p>
</div>
</div>

</div>

</div>
</div>

</section>

<div class="clearfix"></div>
<!-- footer -->
{include file="$themes/footer_js_info.html"}