<div class="col-md-12 no-padding">
	<div class="latest_border">
		<div class="latest_title_border">
			<div class="fw-bold-order">LATEST ORDERS</div>
			<div class="fw-clearfix"></div>
		</div>

		<div id="content-d" class="content light">
			{foreach from=$latest_order item="val" name="val"}
			<div class="col-md-12 no-padding fw-mgb10 fw-hover">
				<div style="float: left; margin-right: 10px; padding-top: 5px;">
					<i class="fa fa-pencil" aria-hidden="true"></i>
				</div>

				<div style="padding: 5px;">
					<div class="fw-mgb10" style="font-size: 16px; white-space: nowrap;">
						<strong>ID {$val.coupon_code}: {$val.file_translate}</strong>
					</div>
					<div style="clear: both;"></div>

					<div class="col-md-12 no-padding">
						<div class="col-md-3 no-padding">
							<div align="center">
								{if $val.avatar_cust}
								<img width="90" height="90" src="{$smarty.const.URL_HOME}/upload/avatar/{$val.avatar_cust}" class="img-circle"/>
								{else}
								<img width="90" height="90" src="{$smarty.const.URL_WEB}{$themes}/assets/img/info/man-user.png" class="img-circle" />
							    {/if}
							</div>
							<div style="clear: both;"></div>
							<div align="center" style="font-size: 14px;">
								<strong title="{$val.full_name}">{$val.name_cust}</strong>
							</div>
						</div>
						<div class="col-md-9 no-padding">
							<table width="330">
							<tr>
								<td align="left" width="45%">
									{foreach from=$fromTolanguage name=val_order item=val_order}
										{foreach from=$val_order name=val1 item=val1}
											{if $val1.translate_id == $val.translate_id}
											<span id="translate_from" class="language-bg" style="margin-bottom: 5px;">
												 <img width="25" height="25" src="{$smarty.const.URL_HOME}/upload/list_language/{$val1.from_flag_language.img_flag}" class="img-circle"/><span style="margin:5px; font-size: 13px;">{$val1.from_language_name}</span>
											</span>
											<br/>
											{/if}
										{/foreach}
									{/foreach}
								</td>

								<td align="left" width="10%">
									{foreach from=$fromTolanguage name=val_order item=val_order}
										{foreach from=$val_order name=val1 item=val1}
											{if $val1.translate_id == $val.translate_id}
											<div id="translate_to" style="margin-bottom: 5px;">
												<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
											</div>
											{/if}
										{/foreach}
									{/foreach}
								</td>

								<td align="left" width="45%" style="padding-left: 25px;">
									{foreach from=$fromTolanguage name=val_order item=val_order}
										{foreach from=$val_order name=val1 item=val1}
											{if $val1.translate_id == $val.translate_id}
											<span id="translate_to" class="language-bg"  style="margin-bottom: 5px;">
												<img width="25" height="25" src="{$smarty.const.URL_HOME}/upload/list_language/{$val1.to_flag_language.img_flag}" class="img-circle"/><span style="margin:5px; font-size: 13px;">{$val1.to_language_name}</span>
											</span>
											<br/>
											{/if}
										{/foreach}
									{/foreach}
								</td>
							</tr>
						</table>

						<div class="col-md-12 no-padding fw-mgb5" style="font-size: 16px; white-space: nowrap;">
							Subject Field: {$val.subject_field}; Created Date: {$val.ngay_order}
						</div>

						<div class="col-md-12 no-padding fw-mgb10">
							<div class="col-md-2 no-padding" style="font-size: 12px;">
								<strong>{$val.count_text}</strong> word(s)
							</div>

							<div class="col-md-10 no-padding">
								<strong style="font-size: 12px; color: #18a9f2;" class="border_price">$ {$val.price}</strong>
							</div>

						</div>

						</div>
					</div>
					</div>
				</div>
				{/foreach}
			</div>

			<div style="margin-top: 10px;" class="latest_title_border"></div>

			<div class="fw-bold-order">WHAT WOULD YOU LIKE TO TRANSLATE TODAY?</div>
			<div class="fw-clearfix"></div>

			<input type="hidden" value="" name="convertFile" id="convertFile">

			<div class="col-md-12 no-padding">
				<div class="col-md-7 no-padding">
					<div style="padding-top: 10px;">
						<div style="float: left; padding-right: 20px;">
							<a class="btn btn-upload" href="#" onclick="openPicker();return false;">
								Choose File
							</a>
						</div>
						<div style="float: left">
							<a class="btn btn-upload fadeandscale_open" href="#fadeandscale">
								Enter text
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-5 no-padding">
					<div class="fw-mgt10">
						Types of supported file
						<div>
							<i class="fa fa-file-pdf-o" aria-hidden="true" title="pdf"></i>
							<i class="fa fa-file-word-o" aria-hidden="true" title="word"></i>
							<i class="fa fa-file-text-o" aria-hidden="true" title="txt"></i>
						</div>
					</div>

				</div>
			</div>

			<div style="clear: both; padding-bottom: 15px;"></div>

		</div>
	</div>


	{* Hiển thị nội dung popup *}
	<!-- Fade & scale -->
	<div id="fadeandscale" class="well" style="width: 800px;">
		{include file="$themes/user/info_text_translate.html"}
	</div>
	{literal}
	<script>
		$(document).ready(function () {
			$('#fadeandscale').popup({
				pagecontainer: '.container',
				transition: 'all 0.3s'
			});
		});
	</script>
	<style>
	#fadeandscale {
		background-color: #fff;
		width: 530px;
		overflow: hidden;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
	.popup_visible #fadeandscale {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
</style>

<script type="text/javascript">
	var fsClient = filestack.init('ABOcK5w9Q4aECjiXSztXbz');
	var data ={};
	function openPicker() {
		fsClient.pick({
			fromSources:["local_file_system","googledrive","dropbox"],
			accept:[".pdf",".doc",".docx",".docm","text/plain"],
			transformations:{
				crop:{      
					force:true
				}
			}
		}).then(function(response) {
			var converFileUrl = response['filesUploaded'][0]['url'];
			document.getElementById('convertFile').setAttribute('value', converFileUrl);
			var session = $('#session').val();
			var userid = $('#accUser').val();
			var translate_from = $('#translateFrom').val();
			var translate_to = $('#translateTo').val();
			var total_count = $('#totalCount').val();
			var dataString = "file=" + converFileUrl + "&session=" + session + "&translate_from=" + translate_from + "&translate_to=" + translate_to +"&totalCount=" + total_count  +"&userid=" + userid;
			$.ajax({
				url: 'load/exec_translate.php',
				type: 'GET',
				data: dataString,
				processData: false,
				contentType: false
			})
			.done(function(data){
				$("#loadingInfo").css("display", "block");
				setTimeout(function(){window.location.href="{/literal}{$smarty.const.URL_HOMEPAGE}{literal}translate.html";}, 1000);
			});
			handleFilestack(response);

		});
	}
</script>
{/literal}
