{literal}
<style type="text/css">
.ajax-load{
  padding: 10px 0px;
  width: 100%;
}
</style>
<script type="text/javascript">
  $(window).scroll(function() {
    if($(window).scrollTop() + $(window).height() >= $(document).height()) {
      var last_id = $(".post-id:last").attr("id");
      loadMoreData(last_id);
    }
  });

  function loadMoreData(last_id){
    $.ajax( {
      url: 'load/load_more_data.php?last_id=' + last_id,
      type: "get",
      dataType: 'json',
      async: false,
      beforeSend: function() {
        $('.ajax-load').show();
      }
    })
    .done(function(data) {
      $('.ajax-load').hide();
      $("#post-data").append(data);
    })
    .fail(function(jqXHR, ajaxOptions, thrownError) {
      alert('server not responding...');
    });
  }
</script>

{/literal}
<div class="thumbnails" id="post-data">
  {foreach from=$rs_order_active item="val" name="val"}
  <div class="grid-item col-md-12 no-padding fw-pdr10 fw-pdb20 post-id" id="{$val.coupon_purchaseid}">
    <form role="form" class="form-ad" name="acceptTranslate" method="post" action="{$smarty.const.URL_HOMEPAGE}accept-translate.html"/>
    <input type="hidden" name="coupon_code_id" value="{$val.coupon_code}">

    <div class="fw-mgb10 box">
      <div class="fw-mgb10" style="font-size: 16px;">
        <strong>ID {$val.coupon_code}: {$val.file_translate}</strong>
      </div>
      <div style="clear: both;"></div>
      <div class="col-md-12 no-padding fw-mgb10">
        <div class="col-md-1 no-padding">
         {if $val.avatar}
         <img width="30" height="30" src="{$smarty.const.URL_HOME}/upload/avatar/{$val.avatar}" class="img-circle"/>
         {else}
         <img width="30" height="30" src="{$smarty.const.URL_WEB}{$themes}/assets/img/info/man-user.png" class="img-circle" />
         {/if}

       </div>
       <div class="col-md-11" style="line-height: 30px;"><strong>{$val.name}</strong></div>
     </div>
     <div style="clear: both;"></div>
     <div>
      <table width="330">
        <tr>
          <td align="left" width="40%">
            {foreach from=$fromTolanguage name=val_order item=val_order}
            {foreach from=$val_order name=val1 item=val1}
            {if $val1.translate_id == $val.translate_id}
            <span id="translate_from" class="language-bg" style="margin-bottom: 5px;">
              <img width="25" height="25" src="{$smarty.const.URL_HOME}/upload/list_language/{$val1.from_flag_language.img_flag}" class="img-circle"/><span style="margin:5px; font-size: 13px;">{$val1.from_language_name}</span>
            </span>
            <br/>
            {/if}
            {/foreach}
            {/foreach}
          </td>

          <td align="left" width="20%" style="padding-left: 15px;">
           {foreach from=$fromTolanguage name=val_order item=val_order}
           {foreach from=$val_order name=val1 item=val1}
           {if $val1.translate_id == $val.translate_id}
           <div id="translate_to" style="margin-bottom: 5px; height: 30px;">
            <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
          </div>
          {/if}
          {/foreach}
          {/foreach}

        </td>

        <td align="left" width="40%">
         {foreach from=$fromTolanguage name=val_order item=val_order}
         {foreach from=$val_order name=val1 item=val1}
         {if $val1.translate_id == $val.translate_id}
         <span id="translate_to" class="language-bg"  style="margin-bottom: 5px;">
           <img width="25" height="25" src="{$smarty.const.URL_HOME}/upload/list_language/{$val1.to_flag_language.img_flag}" class="img-circle"/><span style="margin:5px; font-size: 13px;">{$val1.to_language_name}</span>
         </span>
         <br/>
         {/if}
         {/foreach}
         {/foreach}
       </td>
     </tr>
   </table>
 </div>
 <div style="clear: both;"></div>
 <div class="fw-mgt10">
   <div class="col-md-12  fw-mgb5">
     Subject : {$val.subject_field}
   </div>

   <div class="col-md-12 fw-mgb5">
     Created Date: 
     {$val.ngay_mua}
   </div>

   <div class="col-md-12  fw-mgb5">
     Estimated Delivery: {$val.estimate} (hours)
   </div>

   <div class="col-md-6">
     <strong style="font-size: 20px;">{$val.count_text}</strong> word(s)
   </div>

   <div class="col-md-6">
    <strong style="font-size: 20px;">$ {$val.price}</strong>
  </div>
  <div class="col-md-12">
   <hr/>
 </div>
</div>
<div style="clear: both;"></div>

<center>
 <div class="fw-mgb10">
  {if $val.translater_id > 0}
  <a class="accept_receive" href="#">
    Received
  </a>
  {else}
  <a class="accept_order" href="#">
    Open
  </a>
  {/if}
</div>

<div>
  <a class="btn btn-submit log-btn" href="{$smarty.const.URL_HOMEPAGE}detail/{$val.coupon_purchaseid}-{$val.coupon_code}.html">
    View Details
  </a>
</div>

</center>   

</div> 
</form>

</div>
<div style="clear: both;"></div>
{/foreach}

<div class="ajax-load text-center" style="display:none">
  <p><img src="{$smarty.const.URL_WEB}{$themes}/assets/img/loader.gif">Loading More Order</p>
</div>

</div>