{include file="$themes/header-account.html"}
<script language="javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.tips.js" type="text/javascript"></script>
{literal}
<script>
  $("document").ready(function (){ 
    var percent = $('.progress_bar').attr('title');
    $('.progress_bar').animate({width: percent},1000);

// activate tooltip
$('.tip').tipsy({gravity: 's',fade: true});
});

  function confirmCancel (coupon_code) {
    var result = confirm("Are you sure to cancel order with Order ID: " + coupon_code + " ?");
    if (result) {
      window.location.href = "{/literal}{$smarty.const.URL_HOMEPAGE}{literal}cancel-payment/"+ coupon_code +".html";
    }
  }
</script>
<style>
table {
  border-collapse: collapse;
}

.progress_container{
  padding:1px;
  width:195px;
  overflow:hidden;
  background:url({/literal}{$smarty.const.URL_WEB}{$themes}{literal}/assets/img/progress_container.png);
}

.progress_bar{
  height:9px;
  width:0px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background:url({/literal}{$smarty.const.URL_WEB}{$themes}{literal}/assets/img/progress_bar.png);
}


/*-----------------------------------------------------------------------------------*/
/*Tipsy Tooltip style
/*-----------------------------------------------------------------------------------*/  

.tipsy { padding: 5px; font-size: 11px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 6px 8px 6px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('{/literal}{$smarty.const.URL_WEB}{$themes}{literal}/assets/img/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; } 

</style>
{/literal}
<!-- Header Section Start -->
<div class="header">
  <!-- Start intro section -->
  <section id="intro" class="section-intro">
    <div class="logo-menu">
      {include file="$themes/top-account.html"}
    </div>
  </section>
  <!-- end intro section -->
</div>

<!-- Header Section End -->
<section class="job-detail section-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-lg-2 border-right">
        <nav class="navbar navbar-default navbar-fixed-side">
          <!-- normal collapsible navbar markup -->
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse">
             {include file="$themes/user/left_menu.html"}
           </div>
         </div>
       </nav>
     </div>

     <div class="col-sm-9 col-lg-10 fw-bg-white">
      <!-- your page content -->
      <div class="fw-main-content">
       <div class="fw-mg10">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h4 class="alerts-title"><strong>Order Details
          </strong></h4></li>
        </ul>
        <div id="wrapper" class="fw-mgb10">
          {foreach from=$rs_detail item="rs" name="rs"}
          <div class="box fw-mgb10">
            <div class="col-md-12 no-padding">
              <div class="col-md-12 no-padding">
                <div class="col-md-7 no-padding">
                 <strong>ID  {$rs.coupon_code} : {$rs.file_translate}</strong>
               </div>
               <div class="col-md-5 no-padding" style="font-size: 17px;">
                <div class="fw-filter hoverWrapper">
                  Select options <i class="fa fa-angle-down" aria-hidden="true"></i>
                  <div id="hoverShow1">
                   <ul class="dropdown">
                    <li>
                      {if $rs.file_zip}
                        <a href="{$smarty.const.URL_HOME}/load/download/{$rs.file_zip}">Download source files</a>
                      {else}
                        <a href="{$smarty.const.URL_HOME}/load/download/{$rs.file_translate}">Download source files</a>
                      {/if}
                    </li>
                    <li>
                        {if $rs.order_status == 1 || ($rs.order_status == 2 && $isLimit24h == false)}
                         <a href="#" onclick="return confirmCancel({$rs.coupon_code});">Cancel this order</a>
                        {/if}
                    </li>
                  </ul>

                </div>
              </div>

            </div>

          </div> 

          <div class="col-md-12 no-padding fw-mgb10">
            {$rs.message}
          </div>

          <div class="col-md-12 no-padding">
            <div class="col-md-5 no-padding">

              <table width="330">
                <tr>
                  <td align="left" width="45%">
                    {foreach from=$fromTolanguage name=val_order item=val_order}
                    {foreach from=$val_order name=val1 item=val1}
                    {if $val1.translate_id == $rs.translate_id}
                    <span id="translate_from" class="language-bg" style="margin-bottom: 5px;">
                      <img width="25" height="25" src="{$smarty.const.URL_HOME}/upload/list_language/{$val1.from_flag_language.img_flag}" class="img-circle"/><span style="margin:5px; font-size: 13px;">{$val1.from_language_name}</span>
                    </span>
                    <br/>
                    {/if}
                    {/foreach}
                    {/foreach}
                  </td>

                  <td align="left" width="10%">
                   {foreach from=$fromTolanguage name=val_order item=val_order}
                   {foreach from=$val_order name=val1 item=val1}
                   {if $val1.translate_id == $rs.translate_id}
                   <div id="translate_to" style="margin-bottom: 5px;">
                    <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                  </div>
                  {/if}
                  {/foreach}
                  {/foreach}

                </td>

                <td align="left" width="45%" style="padding-left: 25px;">
                 {foreach from=$fromTolanguage name=val_order item=val_order}
                 {foreach from=$val_order name=val1 item=val1}
                 {if $val1.translate_id == $rs.translate_id}
                 <span id="translate_to" class="language-bg"  style="margin-bottom: 5px;">
                  <img width="25" height="25" src="{$smarty.const.URL_HOME}/upload/list_language/{$val1.to_flag_language.img_flag}" class="img-circle"/><span style="margin:5px; font-size: 13px;">{$val1.to_language_name}</span>
                </span>
                <br/>
                {/if}
                {/foreach}
                {/foreach}
              </td>
            </tr>
          </table>

          <div style="clear: both;"></div>

          <div class="fw-mgb10">
            Subject Field:{$rs.subject_field}
          </div>    

          <div class="fw-mgb10">
           Created Date:{$rs.ngay_mua}
         </div>      

         <div class="fw-mgb10">
           Estimated Delivery: {$rs.estimate} (hours)
         </div>      
       </div>

       <div class="col-md-7 no-padding">
        <div align="center" class="col-md-10 fw-mgb10">
         <div class="col-md-5 no-padding">
          <div class="circle-text-words">
            {$rs.count_text} Words
          </div>
        </div>
        <div class="col-md-5 no-padding">
          <div class="circle-text-price">
            $ {$rs.price}
          </div>
        </div>
      </div>

      {if $rs.order_status == 1}
       <div class="col-md-9 fw-mgb10">
        <a class="btn btn-submit log-btn" href="{$smarty.const.URL_HOMEPAGE}payment/{$rs.coupon_code}.html">
         Confirm order
        </a>
       </div>
      {/if}
      {if $rs.order_status == 1}
      <div class="col-md-9">
        <a class="btn btn-back" href="{$smarty.const.URL_HOMEPAGE}all-order.html">
        Go Back
        </a>
      </div>
      {elseif $rs.order_status == 2} 
       <div class="col-md-9">
        <a class="btn btn-back" href="{$smarty.const.URL_HOMEPAGE}all-order.html">
        Go Back
        </a>
      </div>
      {elseif $rs.order_status == 3}
      <div class="col-md-9">
        <a class="btn btn-back" href="{$smarty.const.URL_HOMEPAGE}finalized.html">
        Go Back
        </a>
      </div>
      {elseif $rs.order_status == 4}  
       <div class="col-md-9">
        <a class="btn btn-back" href="{$smarty.const.URL_HOMEPAGE}order-cancel.html">
        Go Back
        </a>
      </div>
      {/if}




  </div>
</div>


</div>

<div style="clear: both;"></div>
</div>
{if $rs.translater_id}
<div class="fw-mgb30 box">
  <div class="col-lg-2">
   {if $rs.avatar}
   <img width="100" height="100" src="{$smarty.const.URL_HOME}/upload/avatar/{$rs.avatar}" class="img-circle" />
   {else}
   <img width="100" height="100" src="{$smarty.const.URL_WEB}{$themes}/assets/img/info/man-user.png" class="img-circle" />
   {/if}
 </div>
 <div class="col-lg-4">
  <div class="fw-mgb10">
    <strong>{$rs.translater_name}</strong>
  </div>
  <div class="fw-mgb10">
   <i class="fa fa-map-marker" aria-hidden="true"></i> {$rs.country_name}
 </div>
</div>

<div class="col-lg-6">
  <div style="margin-top:30px; height: 50px;">
    <div class="progress_container">
      <div class="progress_bar tip" title="78%"></div>
    </div>
  </div>    

</div>
<div style="clear: both;"></div>
</div>
{/if}

<div id="loadingInfo" class="loading-img">
  <p style="position: absolute; top: 35%; left: 50%;">
   <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/loading.gif" class="fw-img-p50" />
 </p>
</div>

{/foreach}
</div>

</div>

</div>
</div>

</div>
</div>
</section>

<div class="clearfix"></div>
<!-- footer -->
{include file="$themes/footer_js_info.html"}