{include file="$themes/header-account.html"}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>

<!-- Header Section Start -->
<div class="header">
  <!-- Start intro section -->
  <section id="intro" class="section-intro">
    <div class="logo-menu">
      {if $isLogin}
        {include file="$themes/top-account.html"}
      {else}
        {include file="$themes/top.html"}
      {/if}
    </div>
  </section>
  <!-- end intro section -->
</div>

<!-- Header Section End -->
<section class="job-detail section-info">
  <div class="container-fluid">
    <div class="row">
      

    
  </div>
</div>

</section>

<div class="clearfix"></div>
<!-- footer -->
{include file="$themes/footer_js_info.html"}